/* global */


@media screen and (min-width:768px) {
    .mini-width {
        width: 80%;
        margin: auto;
    }
}

/* Navbar */
@media screen and (max-width:991px) {
    .navbar-nav .nav-item {
        margin: 0px 12px 0;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 750px;
    }

    header h1 {
        font-size: 2rem;
    }

    nav {
        border-top: 1px solid #ccc;
    }

    .navbar-nav {
        padding-top: 20px;
    }

    .navbar-nav .nav-item {
        margin: 12px 0;
    }
}

/*  About */

@media screen and (max-width:991px) {
    .about .about-img {
        margin-bottom: 30px;
    }
}

/* Our Team */
@media screen and (max-width:991px) {
    #team .card {
        margin-bottom: 30px;
    }
}